$body-bg: #fef6f0;
$body-bg-dark: #1b1f22;
$theme-colors: (
  "primary": #fef6f0,
  "secondary": #ebeaea,
  "success": #e9d8d6,
  "info": #0ccaf0,
  "warning": #ffc105,
  "danger": #dc3545,
  "dark": #212529,
  "light": #f8f9fa,
  "body-bg": #fff,
  // Bootstrap extended colors
  "gray": $gray-500,
  "grey": $gray-500,
  "blue": $blue,
  "indigo":$indigo,
  "purple":$purple,
  "pink":$pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green":$green,
  "teal": $teal,
  "cyan":$cyan,
  // Custom colors
  "codeworks": #141d2b,
  "vue": #42b883,
);